{% extends 'layouts/base.html.twig' %}

{% block title %}Changer le mot de passe du Profil{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto mt-4 text-center">
        <h1 class="my-5 text-center">Changer votre mot de passe</h1>


        {{ form_start(form)}}

        {{ form_widget(form)}}

            <button type="submit" class="btn btn-lg" style="background-color:#dc3545;color:white;font-size:15px;">Mettre à jour</button>
        {{ form_end(form)}}


    </div>
</div>

{% endblock %}

