 {% extends 'layouts/base.html.twig' %}

{% block title %}Nouveau Jeu{% endblock %}

{% block body %}

<div class="row">

        <div  class="col-md-6 py-4 px-3 mt-5 rounded shadow"  style="margin-left: 25%;">
                <h1>Ajouter Un Jeu</h1>
            
                {{include('pins/_form.html.twig', {submitButtonText: 'Creer'})}}
           
        </div>

</div>


    
{% endblock %}