{% extends 'layouts/base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p class="col-md-6 mx-auto my-5 pt-5">
       Un email a été envoyer vers votre adresse.
        Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="col-md-6 mx-auto">Verifier votre boîte de réception ou votre spam sinon <a href="{{ path('app_forgot_password_request') }}" class="text-decoration-none" style="color:#dc3545;">Réessayer</a>.</p>
{% endblock %}
