{% for type, messages in app.flashes %}
            {% for message in messages %}

                <div class="alert alert-{{type}}" role="alert" style="padding-top: 90px;">
                {{ message }}
                </div>

            {% endfor %}
        {% endfor %}