{% extends 'layouts/base.html.twig' %}

{% block body %}
<h1 class="text-center pt-5">Page introuvable</h1>

<p class="text-center">
    <a class="text-muted" style="text-decoration:none;" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
</p>

{% endblock %}