{% extends 'layouts/base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto my-5">
     <h1 class="text-center pt-5">Accès Réfusé</h1>

        <p class="text-center">
            <a class="text-muted" style="text-decoration:none;" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
        </p>   
    </div>
</div>
<br>


{% endblock %}